.modal-mobile {
    background-color: rgb(95 15 72 / 20%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }


  @media (min-width:768px) {
    .modal-mobile{
      display: none;
    }
}